@section Scripts {
    <script src="~/Scripts/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/Scripts/lib/microsoft/signalr/dist/browser/signalr.min.js"></script>
    <script src="~/Scripts/chat.js"></script>
}

<div>
    <h2>Chat Room</h2>
    <ul id="messagesList"></ul>
    <input type="text" id="messageInput" placeholder="Enter your message" />
    <input type="button" id="sendButton" value="Send" />
</div>